.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.counter {
    background-color: lightgrey;
    padding: 0 10px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
}
